.product-card {
  cursor: pointer;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  transition: transform 0.5s;
}

.product-card:hover {
  transform: scale(105%, 105%);
}

.product-card__img {
  width: 100%;
  height: 310px;
  display: block;
  object-fit: cover;
}

.product-card__hero {
  padding: 40px 20px 20px 20px;
}

.product-card__hero p {
  color: var(--dark-color);
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 10px;
}
