.cat-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.cat-layout .layout__sidear-wrapper {
  flex: 1;
  padding: 20px 0 80px 0;
}

.cat {
  padding: 0 60px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 421px;
}
