.product {
  height: calc(100vh - 70px);
  display: flex;
}

.product__swiper {
  flex: 1;
  width: 100%;
  margin-bottom: 30px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.product__swiper .swiper-slide {
  cursor: zoom-in;
}

.product__swiper .swiper-slide.swiper-slide-zoomed {
  cursor: zoom-out;
}

.product__thumbs-swiper {
  height: 100px;
  width: 430px;
}

.product__thumbs-swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__thumbs-swiper .swiper-slide {
  box-sizing: border-box;
  border-radius: 12px;
  padding: 10px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  opacity: 0.4;
  border: 3px solid rgba(255, 255, 255, 1);
}

.product__thumbs-swiper .swiper-slide-thumb-active {
  opacity: 1;
}

.product__title {
  color: var(--dark-color);
  font-size: 2.5rem;
}

.product__images {
  background-color: rgba(0, 0, 0, 0.04);
  padding: 40px;
  flex: 2;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.product__details {
  overflow: auto;
  padding: 40px;
  flex: 1.3;
}

.product__sizes {
  display: grid;
  grid-template-columns: repeat(auto-fill, 48px);
  gap: 10px;
  margin-bottom: 50px;
}

.product__details-footer {
  display: flex;
  gap: 45px;
}

.product__details-title {
  margin-bottom: 20px;
  color: var(--dark-color);
  font-size: 1.125rem;
  font-weight: 600;
}

.product__desc {
  color: var(--gunmetal-gray-color);
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
}

.product__details-title:not(:first-child) {
  margin-top: 20px;
}

.product__price {
  margin-bottom: 20px;
}
