.slider {
  padding-top: 5px;
  position: relative;
  min-width: 200px;
  max-width: 100%;
}

.slider__track,
.slider__range {
  position: absolute;
}

.slider__values {
  display: flex;
  justify-content: space-between;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 2px;
}

.slider__track {
  background-color: var(--light-gray-color);
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: var(--dark-color);
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  color: var(--dark-color);
  margin-top: 20px;
  font-family: "Montserrat Alternates";
  font-size: 0.75rem;
  font-weight: 700;
}

.slider__left-value {
  left: 6px;
}

.slider__right-value {
  right: -4px;
}

.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  left: 0;
  right: 0;
  min-width: 200px;
  outline: none;
}

.thumb--left {
  z-index: 3;
}

.thumb--right {
  z-index: 4;
}

.thumb::-webkit-slider-thumb {
  background-color: var(--dark-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin-top: 2px;
  pointer-events: all;
  position: relative;
}

.thumb::-moz-range-thumb {
  background-color: var(--dark-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin-top: 2px;
  pointer-events: all;
  position: relative;
}
